html{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

img{
    width: 150px;
    height: 100px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
article, .activites{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2%;
}
.conteneur{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    margin-right: 2%;
}
h2{
    margin-left:2%;
    font-size: bold;
}
.gauche{
    border:3px white solid;
    border-radius: 10px;
    background-color: white;
    margin-top: 3%;
}


.hebergement{
    display: flex;
    width: 100%;
}

.droite{
    display: flex;
    background-color: white;
    border:3px white solid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.populaires {
    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.help{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

.bleu{
    color:#0065fc;
}

.gris{
    color:rgb(216, 209, 209);  
}

button,label{
    border-radius:15px;
    border-color: rgb(214, 204, 204);
    background-color: white;
}

.fas fa-money-bill-wave-alt-bleu{
    background-color:rgb(195, 216, 247);
    border:rgb(195, 216, 247);
}

.am{
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(231, 223, 223);
}

.ambig>img{
    height: 150px;
}

.prix{
    margin-left: 5%;
}